.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

target
build
out
*.DS_Store
*~
.gradle
*.iml
*.ipr
*.iws
.idea
.*.swp
*.class
/bin
user.gradle
/.settings
*.classpath
*.project

/subprojects/groovy-ant/bin
/subprojects/groovy-ant/.project
/subprojects/groovy-ant/.settings
/subprojects/groovy-ant/.classpath
/subprojects/groovy-bsf/bin
/subprojects/groovy-bsf/.project
/subprojects/groovy-bsf/.settings
/subprojects/groovy-bsf/.classpath
/subprojects/groovy-console/bin
/subprojects/groovy-console/.project
/subprojects/groovy-console/.settings
/subprojects/groovy-console/.classpath
/subprojects/groovy-docgenerator/bin
/subprojects/groovy-docgenerator/.project
/subprojects/groovy-docgenerator/.settings
/subprojects/groovy-docgenerator/.classpath
/subprojects/groovy-groovydoc/bin
/subprojects/groovy-groovydoc/.project
/subprojects/groovy-groovydoc/.settings
/subprojects/groovy-groovydoc/.classpath
/subprojects/groovy-groovysh/bin
/subprojects/groovy-groovysh/.project
/subprojects/groovy-groovysh/.settings
/subprojects/groovy-groovysh/.classpath
/subprojects/groovy-jmx/bin
/subprojects/groovy-jmx/.project
/subprojects/groovy-jmx/.settings
/subprojects/groovy-jmx/.classpath
/subprojects/groovy-json/bin
/subprojects/groovy-json/.project
/subprojects/groovy-json/.settings
/subprojects/groovy-json/.classpath
/subprojects/groovy-jsr223/bin
/subprojects/groovy-jsr223/.project
/subprojects/groovy-jsr223/.settings
/subprojects/groovy-jsr223/.classpath
/subprojects/groovy-nio/bin
/subprojects/groovy-nio/.project
/subprojects/groovy-nio/.settings
/subprojects/groovy-nio/.classpath
/subprojects/groovy-servlet/bin
/subprojects/groovy-servlet/.project
/subprojects/groovy-servlet/.settings
/subprojects/groovy-servlet/.classpath
/subprojects/groovy-sql/bin
/subprojects/groovy-sql/.project
/subprojects/groovy-sql/.settings
/subprojects/groovy-sql/.classpath
/subprojects/groovy-swing/bin
/subprojects/groovy-swing/.project
/subprojects/groovy-swing/.settings
/subprojects/groovy-swing/.classpath
/subprojects/groovy-templates/bin
/subprojects/groovy-templates/.project
/subprojects/groovy-templates/.settings
/subprojects/groovy-templates/.classpath
/subprojects/groovy-test/bin
/subprojects/groovy-test/.project
/subprojects/groovy-test/.settings
/subprojects/groovy-test/.classpath
/subprojects/groovy-testng/bin
/subprojects/groovy-testng/.project
/subprojects/groovy-testng/.settings
/subprojects/groovy-testng/.classpath
/subprojects/groovy-xml/bin
/subprojects/groovy-xml/.project
/subprojects/groovy-xml/.settings
/subprojects/groovy-xml/.classpath
